In [1]:
# 'range' creates an iterator.In this case, 
# a series of values from 0 to 9 vertically
for i in range(10):
     print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
# print 0 to 9 horizontally
for i in range(10):
     print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [3]:
# print from 1 to 9
for i in range(1,10):
     print(i, end = ' ')

1 2 3 4 5 6 7 8 9

In [4]:
# print from 1 to 10
for i in range(1,11):
     print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [6]:
# range is from 0 to 4 
for i in range(0,101, 4):
     print(i, end = ' ')

0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100

In [7]:
# print the number from 100 to 1
for i in range(100, 0,-1):
     print(i, end = ' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [10]:
# use string 
word = 'python'
for char in word:
     print(char)

p
y
t
h
o
n

In [11]:
for char in word:
     print(char, end = ' ')

p y t h o n

In [12]:
# Variables and Introducing Lists!
x = 5
x = x + 1
print('x = ', x)

x =  6

In [13]:
x += 1
print('x =', x)

x = 7

In [14]:
y = x
print('y =', y)

y = 7

In [15]:
x += 1
print('x =', x)
print('y =', y)

x = 8
y = 7

In [16]:
# Create a list
data = [53,76,25,98,56,42,69,81]
data_1 = []

In [17]:
data[0]

53

In [18]:
data[2]

25

In [19]:
data[-1]

81

In [20]:
data[0:5]

[53, 76, 25, 98, 56]

In [21]:
for num in data:
     print(num, end = ' ')

53 76 25 98 56 42 69 81

In [23]:
[num * 2 if num % 2 == 0 else 'Odd' for num in data ]

['Odd', 152, 'Odd', 196, 112, 84, 'Odd', 'Odd']

In [24]:
# Find the sum of the numbers inside the list
total = 0
for num in data:
     total = total + num
print('The sum of \'data\' is:', total)

The sum of 'data' is: 500

In [25]:
# it will not work for negative number 
find_max = 0
for num in data:
     if num > find_max:
          find_max = num
print('Max valus is :', find_max)

Max valus is : 98

In [29]:
my_list = [1, 11, 21, 31, 41, 51]
for i in range(6):
     print(my_list[i])
     # print(my_list[i+1])

1
11
21
31
41
51

In [32]:
# Bubble sort
data_copy = data[:]
for i in range(len(data_copy)):
     for j in range(0,len(data_copy)-i-1):
          if data_copy[j]>data_copy[j+1]:
               data_copy[j],data_copy[j+1] = data_copy[j+1],data_copy[j]
print(data_copy)

[25, 42, 53, 56, 69, 76, 81, 98]

In [33]:
print(sorted(data))

[25, 42, 53, 56, 69, 76, 81, 98]

In [34]:
my_list = [34, 76, 58]
my_list.append(100)

In [35]:
my_list

[34, 76, 58, 100]

In [36]:
my_list.reverse()

In [37]:
my_list

[100, 58, 76, 34]

In [40]:
my_list.extend([67,68,69])
my_list

[100, 58, 76, 34, 67, 68, 69, 67, 68, 69]

In [41]:
print(my_list.index(67))

4

In [42]:
n = 10
while n > 0:
     print(n)
     n = n - 1

10
9
8
7
6
5
4
3
2
1

In [43]:
user_input = int(input("please enter ages of class member. Type -1 to end:>21"))
ages = []
while user_input > 0:
     ages.append(user_input)
     user_input = int(input('The next age:>'))
print('The age are', ages)

The age are [23, 34]

In [44]:
# Put a counter in while loop
count = 0
class_names = []
name = input('Please enter name type n to stop:>')
while name != 'n':
     count +=1
     class_names.append(name)
     print(f'{name} has been added.')
     name = input('Next name?:> ')
print(f'There are {count} people in the class, they are {class_names}')

Giles has been added.
Alex has been added.
Ashwin has been added.
Daisy has been added.
Rupert has been added.
Linda has been added.
There are 6 people in the class, they are ['Giles', 'Alex', 'Ashwin', 'Daisy', 'Rupert', 'Linda']