In [1]:
# Importing Text Files in Python (with open())

In [2]:
filename = "source.txt"
print(filename)

source.txt

In [3]:
filename = r"C:\Users\mk744\Downloads\6th sem books\source.txt"

In [4]:
print(filename)

C:\Users\mk744\Downloads\6th sem books\source.txt

In [5]:
file = open(filename, mode = 'r')

In [6]:
print(file)

<_io.TextIOWrapper name='C:\\Users\\mk744\\Downloads\\6th sem books\\source.txt' mode='r' encoding='cp1252'>

In [7]:
file = open(filename, mode = 'r')
text = file.read()
print(text)

This is the simplest plain text file!

In [8]:
file.closed

False

In [9]:
file.close()

In [10]:
file.closed

True

In [11]:
file = open(filename , mode = 'r')
text = file.read()
file.close()

In [12]:
with open(filename , mode = 'r') as out_file:
     out_file.read()

In [13]:
print(text)

This is the simplest plain text file!

In [14]:
print(out_file)

<_io.TextIOWrapper name='C:\\Users\\mk744\\Downloads\\6th sem books\\source.txt' mode='r' encoding='cp1252'>

In [15]:
with open('source.txt', 'w') as out_file:
     out_file.write("It is not so simple anymore!")

In [16]:
print(out_file)

<_io.TextIOWrapper name='source.txt' mode='w' encoding='cp1252'>

In [17]:
file = open(filename , mode = 'r')
text = file.read()
file.close()

In [18]:
print(text)

This is the simplest plain text file!

In [19]:
with open(filename, mode = "r") as out_file:
     new_text = out_file.read()
print(new_text)

This is the simplest plain text file!

In [20]:
# Read the file in pandas
import pandas as pd
data = pd.read_csv(r"C:\Users\mk744\Downloads\365 data science data sets\Time series data.txt")

In [21]:
data

            Date   GSPC500   FTSE100
0       1/3/2000  0.003264  0.000000
1       1/4/2000 -0.009549  0.000000
2       1/5/2000 -0.038345 -0.038137
3       1/6/2000  0.001922 -0.019502
4       1/7/2000  0.000956 -0.013571
...          ...       ...       ...
2865  12/27/2010 -0.002282  0.002135
2866  12/28/2010  0.003539  0.000000
2867  12/29/2010 -0.000254  0.000000
2868  12/30/2010  0.000524 -0.002080
2869  12/31/2010 -0.002128 -0.004236

[2870 rows x 3 columns]

In [22]:
# it will shows the class of the pandas
print(type(pd.read_csv(r"C:\Users\mk744\Downloads\365 data science data sets\Time series data.txt")))

<class 'pandas.core.frame.DataFrame'>

In [23]:
# it will shows index is start from 0
pd.read_csv(r"C:\Users\mk744\Downloads\365 data science data sets\Time series data.txt", header = 0)

            Date   GSPC500   FTSE100
0       1/3/2000  0.003264  0.000000
1       1/4/2000 -0.009549  0.000000
2       1/5/2000 -0.038345 -0.038137
3       1/6/2000  0.001922 -0.019502
4       1/7/2000  0.000956 -0.013571
...          ...       ...       ...
2865  12/27/2010 -0.002282  0.002135
2866  12/28/2010  0.003539  0.000000
2867  12/29/2010 -0.000254  0.000000
2868  12/30/2010  0.000524 -0.002080
2869  12/31/2010 -0.002128 -0.004236

[2870 rows x 3 columns]