In [1]:
# Importing Text Files in Python (with open())

In [2]:
filename = "source.txt"
print(filename)

source.txt

In [3]:
filename = r"C:\Users\mk744\Downloads\6th sem books\source.txt"

In [4]:
print(filename)

C:\Users\mk744\Downloads\6th sem books\source.txt

In [5]:
file = open(filename, mode = 'r')

In [6]:
print(file)

<_io.TextIOWrapper name='C:\\Users\\mk744\\Downloads\\6th sem books\\source.txt' mode='r' encoding='cp1252'>

In [7]:
file = open(filename, mode = 'r')
text = file.read()
print(text)

This is the simplest plain text file!

In [8]:
file.closed

False

In [9]:
file.close()

In [10]:
file.closed

True

In [11]:
file = open(filename , mode = 'r')
text = file.read()
file.close()

In [12]:
with open(filename , mode = 'r') as out_file:
     out_file.read()

In [13]:
print(text)

This is the simplest plain text file!

In [14]:
print(out_file)

<_io.TextIOWrapper name='C:\\Users\\mk744\\Downloads\\6th sem books\\source.txt' mode='r' encoding='cp1252'>

In [15]:
with open('source.txt', 'w') as out_file:
     out_file.write("It is not so simple anymore!")

In [16]:
print(out_file)

<_io.TextIOWrapper name='source.txt' mode='w' encoding='cp1252'>

In [17]:
file = open(filename , mode = 'r')
text = file.read()
file.close()

In [18]:
print(text)

This is the simplest plain text file!

In [19]:
with open(filename, mode = "r") as out_file:
     new_text = out_file.read()
print(new_text)

This is the simplest plain text file!

In [20]:
# Read the file in pandas
import pandas as pd
data = pd.read_csv(r"C:\Users\mk744\Downloads\365 data science data sets\Time series data.txt")

In [21]:
data

            Date   GSPC500   FTSE100
0       1/3/2000  0.003264  0.000000
1       1/4/2000 -0.009549  0.000000
2       1/5/2000 -0.038345 -0.038137
3       1/6/2000  0.001922 -0.019502
4       1/7/2000  0.000956 -0.013571
...          ...       ...       ...
2865  12/27/2010 -0.002282  0.002135
2866  12/28/2010  0.003539  0.000000
2867  12/29/2010 -0.000254  0.000000
2868  12/30/2010  0.000524 -0.002080
2869  12/31/2010 -0.002128 -0.004236

[2870 rows x 3 columns]

In [22]:
# it will shows the class of the pandas
print(type(pd.read_csv(r"C:\Users\mk744\Downloads\365 data science data sets\Time series data.txt")))

<class 'pandas.core.frame.DataFrame'>

In [23]:
# it will shows index is start from 0
pd.read_csv(r"C:\Users\mk744\Downloads\365 data science data sets\Time series data.txt", header = 0)

            Date   GSPC500   FTSE100
0       1/3/2000  0.003264  0.000000
1       1/4/2000 -0.009549  0.000000
2       1/5/2000 -0.038345 -0.038137
3       1/6/2000  0.001922 -0.019502
4       1/7/2000  0.000956 -0.013571
...          ...       ...       ...
2865  12/27/2010 -0.002282  0.002135
2866  12/28/2010  0.003539  0.000000
2867  12/29/2010 -0.000254  0.000000
2868  12/30/2010  0.000524 -0.002080
2869  12/31/2010 -0.002128 -0.004236

[2870 rows x 3 columns]

In [24]:
dataset =r"C:\Users\mk744\Downloads\365 data science data sets\Time series data.txt"

In [25]:
my_csv_data = pd.read_csv(dataset)

In [26]:
type(my_csv_data)

pandas.core.frame.DataFrame

In [27]:
print(my_csv_data)

            Date   GSPC500   FTSE100
0       1/3/2000  0.003264  0.000000
1       1/4/2000 -0.009549  0.000000
2       1/5/2000 -0.038345 -0.038137
3       1/6/2000  0.001922 -0.019502
4       1/7/2000  0.000956 -0.013571
...          ...       ...       ...
2865  12/27/2010 -0.002282  0.002135
2866  12/28/2010  0.003539  0.000000
2867  12/29/2010 -0.000254  0.000000
2868  12/30/2010  0.000524 -0.002080
2869  12/31/2010 -0.002128 -0.004236

[2870 rows x 3 columns]

In [28]:
df = r"C:\Users\mk744\Downloads\365 data science data sets\Python BootCamp\companydataset.csv"

In [29]:
demo = pd.read_csv(df, index_col= 'LoanID')

In [30]:
demo

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [31]:
print(type(pd.read_csv(df)))

<class 'pandas.core.frame.DataFrame'>

In [32]:
demo = {'ProductName' :['Product A', 'Product B', 'Product C'],'ProductPrice':[22250,16600,12500]}
product_IDs = ['A', 'B', 'C']
dfs = pd.DataFrame(data, index = product_IDs)
dfs

  Date  GSPC500  FTSE100
A  NaN      NaN      NaN
B  NaN      NaN      NaN
C  NaN      NaN      NaN

In [33]:
import numpy as np
import json
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                     index=['White', 'Black', 'Red', 'Blue'],
                     columns=['UP','Down','Right','Left'])

In [34]:
print(frame.to_json('frame.json'))

None

In [35]:
pd.read_json('frame.json')

       UP  Down  Right  Left
White   0     1      2     3
Black   4     5      6     7
Red     8     9     10    11
Blue   12    13     14    15

In [39]:
import pickle
database = {'color' : ['white', 'red'], 'value':[5,7]}
pickled_data = pickle.dumps(database)

In [40]:
print(pickled_data)

b'\x80\x04\x95/\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x05color\x94]\x94(\x8c\x05white\x94\x8c\x03red\x94e\x8c\x05value\x94]\x94(K\x05K\x07eu.'

In [41]:
nframe = pickle.loads(pickled_data)
nframe

{'color': ['white', 'red'], 'value': [5, 7]}